@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');
@import url('./styles/page/page.css');
@import url('./styles/header/header.css');
@import url('./styles/content/content.css');
@import url('./styles/footer/footer.css');
@import url('./styles/popup/popup.css');
@import url('./styles/popup/_is-opened/popup_is-opened.css');

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}